/* Globe Mapbox Popup Styling */
.mapboxgl-popup.globe-tooltip .mapboxgl-popup-content {
  background-color: transparent;
  color: white;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

.mapboxgl-popup.globe-tooltip .mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup.globe-tooltip .mapboxgl-popup-close-button {
  display: none;
}
